.cardContent {
    width: 400px;
}

.Card {
    width: 380px;
    height: 500px;
}

.Disc {
    margin-bottom: -10px;
    padding-bottom: -20px;
}

.discText {
    font-max-size: 12px;
    margin: 12px;
}
